<!-- <div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div> -->

<div class="main-content">
  
  <div class="row">
    <div class="card  card-tasks">
      <div class="card-header ">
        <h5 class="card-category">Capitu Store</h5>
        <h4 class="card-title">Pedidos</h4>
      </div>
      <div class="row show-hide-message">
        <div [ngClass]="messageClass">
          {{ message }}
        </div>
      </div>
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let order of orders; let i = index ">
                <td *ngIf="!order.Confirmed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" value="{{order._id}}" type="checkbox" [(ngModel)]="order.isChecked">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td  *ngIf="!order.Confirmed" (click)="editOrder(order._id)" class="text-left">{{order.ClientName}}</td>
                <table class="table" *ngIf="!order.Confirmed">
                  <tbody>
                    <td class="text-left">
                      <tr *ngFor="let ref of order.References">
                        <td class="text">{{ref}}</td>
                      </tr>
                    </td>
                    <td class="text-left">
                      <tr *ngFor="let size of order.Sizes">
                        <td class="text">{{size}}</td>
                      </tr>
                    </td>
                  </tbody>
                </table>
                <td  *ngIf="!order.Confirmed" class="td-actions text-right">
                  <button type="button" (click)="confirmOrder(order._id, i)" rel="tooltip" title="" class="btn btn-primary btn-round btn-icon btn-icon-mini btn-neutral"
                    data-original-title="Remove">
                    <i class="now-ui-icons ui-1_check"></i>
                  </button>
                </td>
                <td  *ngIf="!order.Confirmed" class="td-actions text-right">
                  <button type="button" (click)="removeOrder(order._id, i)" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                    data-original-title="Remove">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <button class="btn btn-primary" (click)="gerar_relatorio()"> Gerar Relatorio de pedidos </button>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
        </div>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header ">
        <h5 class="card-category">Relatorio de Pedidos</h5>
      </div>
      <div class="card-body ">
        <div *ngFor="let rep of finalReport">
          {{rep}}
        </div>
      </div>
    </div>
  </div>
</div>