<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Cadastrar Pedido</h2>

  </div>
</div>
<div class="main-content">
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Adicionar Pedido</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onRegisterClick(Referencia, Cliente)">

            <div class="form-group">
              <label for="referencia">Referencia</label>
              <input auto-complete type="text" #Referencia class="form-control" [source]="referenceArray" [(ngModel)]="referencia" [ngModelOptions]="{standalone: true}"
                (valueChanged)="valueChanged($event)" placeholder="Digite a Referencia da estampa">
            </div>

            <div class="form-group">
              <label for="cliente">Cliente</label>
              <input type="text" #Cliente [(ngModel)]="clientName" [ngModelOptions]="{standalone: true}"  class="form-control" id="cliente" placeholder="Nome da cliente">
            </div>

            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementP()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementP()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeP">{{pCount}} P</label>

              </div>
            </div>

            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementM()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementM()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeM">{{mCount}} M</label>

              </div>
            </div>

            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementG()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementG()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeG"> {{gCount}} G</label>

              </div>
            </div>

            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementGG()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementGG()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeGG"> {{ggCount}} GG</label>

              </div>
            </div>

            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementVestidoCurto()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementVestidoCurto()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeVestidoCurto">{{vestidoCurtoCount}} Vestido(s) Curto</label>
              </div>
            </div>

            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementVestidoLongo()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementVestidoLongo()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeVestidoLongo">{{vestidoLongoCount}} Vestido(s) Longo</label>
              </div>
            </div>


            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementGolaChocker()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementGolaChocker()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeGolaChocker">{{golaChockerCount}} Gola Chocker</label>
              </div>
            </div>


            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementKitMeF()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementKitMeF()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeKitMeF">{{kitMeFCount}} Kit Mãe e Filha</label>
              </div>
            </div>

            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementMasculino()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementMasculino()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeMasculino">{{masculinoCount}} Masculino</label>
              </div>
            </div>


            <div class="form-group">
              <div class="btn-group">
                <button type="button" style="width: 10%;" (click)="incrementFilho()" class="form-control"> + </button>
                <button type="button" style="width: 10%;" (click)="decrementFilho()" class="form-control"> - </button>
                <label class="ml-2 mt-2" for="sizeFilho">{{filhoCount}} Filho</label>
              </div>
            </div>
            
            <button *ngIf="!this.orderIdParameter" type="submit" class="btn btn-primary">Adicionar Pedido</button>
            <button *ngIf="this.orderIdParameter"  type="submit" class="btn btn-primary">Editar Pedido</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <div *ngIf="selectedProduct">
                <img [src]="sanitizer.bypassSecurityTrustUrl(selectedProduct.Img)" style="width: 200px; height: 200px;">
              </div>
              <div *ngIf="!selectedProduct">
                <img [src]="" style="width: 200px; height: 200px;">
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="selectedProduct">
                <label for="preco">Preço</label>
                <input type="text" [(ngModel)]="selectedProduct.Price" [ngModelOptions]="{standalone: true}" class="form-control" id="preco"
                  placeholder="Preço">
              </div>

            </div>
            <div class="form-group">
              <input type="button" value="Adicionar" (click)="addReference(selectedProduct.Reference)">
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div *ngFor="let obj of objRefSize">
            <label> {{obj.reference}} - {{obj.size}} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>